// Your custom SCSS should be written here...
body {
  background-color: #ededed;
}
.inline {
  line-height: 14px;
  color:#c68609;
  font-weight: 200;
}
.topbox{
  background-color:#469659;
  height:11em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px #888;
}

.bottom_spacer {
  height: 12em;
  background-color: #daf0e0;
  margin-top: 3em;
  box-shadow: 4px 0 5px #888;
}

.bottom_image {
  float: right;
  margin: 1em;
  height: 3em;
}

.bottom_signature {
  float:left;
  font-size: 0.75em;
  margin-top: 12em;
  margin-left: 1em;
  background-color: #dadeee;
  border-bottom: dotted 2px #afafaf;
  color: #afafaf;
}