// Your custom SCSS should be written here...
body {
  background-color: #ededed;
}
table tr td, table tbody tr td {
  font-size: 14px;
  font-weight: 100;
  padding: 0px;
}
.inline {
  line-height: 14px;
  color:#c68609;
  font-weight: 200;
}
.topbox{
  background-color:#469659;
  height:11em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px #888;
}

.bottom_spacer {
  height: 10em;
  background-color: #daf0e0;
  margin-top: 3em;
  box-shadow: 4px 0 5px #888;
}

.bottom_image {
  float: right;
  margin: 1em;
  width: 17%;
}

.left {
  float: left;
}

.bottom_surround {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  height: 1.75em;
}

.bottom_signature {
  text-align: center;
  width: 100%;
  float: left;
  background-color: #666;
  font-size: 0.75em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  color: #afafaf;
}

.bottom_signature a:link {
  color: #afafaf;
  text-decoration: underline;
}

.bottom_signature a:hover {
  color: #3f3f3f;
}

.table_class thead tr th {
  font-size: 0.75em;
  font-weight: normal;
  vertical-align: bottom;
}

.table_class td {
  font-size: 0.75em;
}

#backgroundPopup {
  z-index:1;
  position: fixed;
  display:none;
  height:100%;
  width:100%;
  background:#000000;
  top:0px;
  left:0px;
}
#toPopup {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 10px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  display: none;
  font-size: 14px;
  left: 10%;
  position: fixed;
  top: 10%;
  width: 80%;
  z-index: 9999;
}
div.loader {
  background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
  height: 32px;
  width: 32px;
  display: none;
  z-index: 9999;
  top: 40%;
  left: 50%;
  position: absolute;
  margin-left: -10px;
}
div.close {
  background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -27px;
  top: -24px;
  width: 30px;
}
div#popup_content {
  margin: 4px 7px;
  overflow-y:scroll;
  height:500px;
}

.checkboxTable {
  padding: 0 15px;
}
